@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

body {
  display: block;
  font-family: "ABeeZee", sans-serif;
  background: #f0f4f4;
  color: #46b9c9;
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.activity-block {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  visibility: collapse;
}

.title-block {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.btn {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #46b9c9;
  background: transparent;
  color: #46b9c9;
}

.title {
  position: absolute;
  visibility: hidden;
}

.buttons {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-start;
  visibility: hidden;
}

.didyou {
  margin-bottom: 12px;
}

.buttons p {
  font-size: small;
  margin-bottom: 24px;
  opacity: 0.4;
}

.small-btn {
  height: 50px;
  width: 50px;
  background: transparent;
  border: 1px solid #46b9c9;
  border-radius: 50px;
  color: #46b9c9;
  margin: 24px;
}
